.library-item{
    width: 400px;
    cursor: pointer;
}
.library-item:hover{
    background-color: #efefef;
    border-radius: 20px;
}
.library-item .library-video-poster img{
 width: 100%;
 height: 250px;
 border-radius: 20px;
}
.video-title{
    font-weight: bold;
}

.owner-video-fullname{
     color: gray;
}
.owner-video-fullname:hover{
     text-decoration: underline;
     cursor: pointer;
}
.video-meta-views::after{
    content: ".";
}
.library-video-meta{
    height: 100px;
}
.video-meta-data{
    color: gray;
}
.video-meta-data:hover{
    font-size: 1.1rem;
    font-weight: bold;
}
.library-item .fa-youtube{
    color: red;
    font-size: 2.2rem;
}
.library-item .fa-youtube:hover{
    font-size: 2.5rem;
}
