header{
    top: 0;
    z-index: 9999;
    background-color: white;
}
.header-top{
    height: 70px;
}
header .header-icon{
    padding-left: 10px;
}
header .header-top-center input{
    width: 80%;
    height: 39.5px;
    padding-left: 10px;
    font-size: 1.5rem;
}
header .header-top-center i{
    border-top: 0.1px solid #ccc;
    border-right: 0.1px solid #ccc;
    border-bottom: 0.1px solid #ccc;
    padding: 9px;
}
header .header-top-right i{
   font-size: 1.8rem;
}
header .header-top-right i:hover{
   color: red;
   transform: scale(1.2);
}
.logo img{
    width: 250px;
}
.logo img:nth-child(2){
    display: none;
    width: 80px;
}

/*************** HEADER LEFT***************/
header  .header-left{
    background-color: white;
    height: 100vh;
    width: 300px;
    z-index: 9999;
    display: none;
}
header  .header-left a{
    display: block;
    padding: 15px 5px;
}
header  .header-left li:hover{
    font-weight: bold;
    background-color: #efefef;
}
 

@media screen and (max-width: 650px) {
    .logo img:nth-child(1){
        display: none;
    }
    .logo img:nth-child(2){
        display: block;
    }
    header  .header-left{
        width: 100%;
    }
    
}